DICTIONARY

In [3]:
#Creating an empty dict and checking the type
d1={ }
type(d1)

dict

In [10]:
d2={'Name':'Hanith','Age':18,'City':'TRV'}
d2,type(d2)

({'Name': 'Hanith', 'Age': 18, 'City': 'TRV'}, dict)

In [14]:
#Adding quotes if number exceeds 9 digits(BIGINT)
person={'Name':'Hanith','Age':18,'City':'TRV','ph no':'9876543210'}
person

{'Name': 'Hanith', 'Age': 18, 'City': 'TRV', 'ph no': '9876543210'}

In [16]:
#Added a new key value pair
person['Salary']=101010

In [17]:
person

{'Name': 'Hanith',
 'Age': 18,
 'City': 'TRV',
 'ph no': '9876543210',
 'Salary': 101010}

In [31]:
#Keys are unique
person['Name']='Anu'

In [19]:
person

{'Name': 'Anu',
 'Age': 18,
 'City': 'TRV',
 'ph no': '9876543210',
 'Salary': 101010}

In [26]:
person['name']='Hanith'

In [22]:
person

{'Name': 'Anu',
 'Age': 18,
 'City': 'TRV',
 'ph no': '9876543210',
 'Salary': 101010,
 'name': 'Hanith'}

In [27]:
#Deletion of an element
del person['name']

In [28]:
person

{'Name': 'Anu',
 'Age': 18,
 'City': 'TRV',
 'ph no': '9876543210',
 'Salary': 101010}

In [32]:
#Accessing a value via key
person['Name']

'Anu'

In [33]:
#Length of a dictionary
len(person)

5

In [35]:
#Accessing keys
person.keys()

dict_keys(['Name', 'Age', 'City', 'ph no', 'Salary'])

In [36]:
#Accessing values
person.values()

dict_values(['Anu', 18, 'TRV', '9876543210', 101010])

In [37]:
#To dislpay all the items
person.items()

dict_items([('Name', 'Anu'), ('Age', 18), ('City', 'TRV'), ('ph no', '9876543210'), ('Salary', 101010)])

SET

In [41]:
#Creating a set
s1={1,2,3,4,5,1,6,}
s1

{1, 2, 3, 4, 5, 6}

In [42]:
#Checking the type
type(s1)

set

In [43]:
#Another way to create set
s2=set([1,2,6,7,8,9,5,4,5,2,1,6])
s2

{1, 2, 4, 5, 6, 7, 8, 9}

In [45]:
#Adding an element
s1.add(9)

In [46]:
s1

{1, 2, 3, 4, 5, 6, 9}

In [47]:
#Removing an element
s1.remove(2)

In [48]:
s1

{1, 3, 4, 5, 6, 9}

In [49]:
#Emptying set
s1.clear()
s1

set()

In [50]:
#Length of a set
len(s2)

8

In [57]:
#Union Operation (All the common elements in both sets)
s3={1,1,2,3,5,4,5,6,7,8,9,0}
s4={1,3,5,7,11,13}
s3|s4 #or s3.union(s4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13}

In [62]:
#Intersection Operation (Displays only the common elements)
s3&s4 #or s3.intersection(s4)

{1, 3, 5, 7}

In [63]:
#Difference Operation
s3-s4

{0, 2, 4, 6, 8, 9}

In [61]:
s4-s3

{11, 13}